<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194018823339-agkj5rch7o2rvekp5m15elfk2hgdumuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194018823339-agkj5rch7o2rvekp5m15elfk2hgdumuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjoejwy6zDAl0ipPATgCXn90MlkxTW76I</string>
	<key>GCM_SENDER_ID</key>
	<string>194018823339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTextSpeach</string>
	<key>PROJECT_ID</key>
	<string>carwash-636ae</string>
	<key>STORAGE_BUCKET</key>
	<string>carwash-636ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194018823339:ios:4c599811cedf4fbf86fbee</string>
</dict>
</plist>